{% extends '::base.html.twig' %}

{% block body -%}
    <ol class="breadcrumb">
        <li><a href="{{ path('rudak_main_admin') }}">Administration</a></li>
        <li><a href="{{ path('admin_cms_page') }}">Liste des pages</a></li>
        <li class="active">Créer une page</li>
    </ol>

    {{ form(form) }}

{% endblock %}
